@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Move left by 50% of the duplicated set */
    }
  }
  
  .animate-slide {
    animation: 35s slide infinite linear;
  }
  
  .logos-slide {
    display: inline-flex; /* Use inline-flex for horizontal layout */
  }
  
  .logo-placeholder {
    height: 50px; /* Height for the placeholder */
  }