@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.outline{
  /* -webkit-text-stroke-width: 0.09rem;
  -webkit-text-stroke-color: #EBE6D0;
  color:#000000; */
  color: #131313;
  position: relative;
  text-shadow: 
    1px 1px 0 #EBE6D0,
    -1px 1px 0 #EBE6D0,
    1px -1px 0 #EBE6D0,
    -1px -1px 0 #EBE6D0,
    2px 2px 0 #EBE6D0,
    -2px 2px 0 #EBE6D0,
    2px -2px 0 #EBE6D0,
    -2px -2px 0 #EBE6D0;
}

.scroller {
    display: inline-flex;
    animation: scroll-right 10s linear infinite; /* Adjust speed (15s) as necessary */
    transform:rotate(90deg);
}
  @keyframes scroll-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
@font-face {
    font-family: "tech";
    src: url("assets/fonts/nasalization-rg.otf");
  }
@font-face {
    font-family: "kindle";
    src: url("assets/fonts/Kindex-Regular.otf");
  }



  .custom-clip-path {
    clip-path: circle(60% at 50% 100%); 
   }
    
   @keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .bg-moving-gradient {
    background-Image: radial-gradient( #003C45,#0e2c2d, #002027);
    background-size: 400% 400%;
    animation: moveGradient 15s ease infinite;
  }

  